@font-face {
    font-family: 'IranSans';
    src: url(ttf/IRANSansWeb\(FaNum\).ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IranSans';
    src: url(ttf/IRANSansWeb\(FaNum\)_Bold.ttf);
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IranSans';
    src: url(ttf/IRANSansWeb\(FaNum\)_Light.ttf);
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IranSans';
    src: url(ttf/IRANSansWeb\(FaNum\)_Medium.ttf);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IranSans';
    src: url(ttf/IRANSansWeb\(FaNum\)_UltraLight.ttf);
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
    font-family: 'IranSans';
    justify-content: center;
}

.header {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #fff;
}

body {
    overflow-x: hidden;
}

.headerElements {  
    margin: 10px 0 15px 0;
}

#head1 {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

#head2 {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

#mobile-head button {
    width: 100%;
    background-color: #f2f2f2;
    color: #81858b;
    font-size: 14px;
    text-align: start;
    border-style: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
}

#mobile-head img {
    width: 70px;
}

#theLogo {
    margin-top: 8px;
}

.btn img {
    margin-left: 5px;
    width: 20px;
}

.img1 {
    width: 40%;
}

.dropdown button {
    width: 600px;
    background-color: #f2f2f2;
    color: #81858b;
    font-size: 14px;
    text-align: start;
    border-style: none;
    padding: 10px;
}

.dropdown button:hover {
    background-color: #fff;
    color: #81858b;
}

.btn.show {
    background-color: #fff;
    color: #81858b;
}

#sign-in button{
    background-color: #fff;
    border-color: #55555517;
    color: #000000;
    padding: 18px;
    margin-left: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    height: 30px;
    gap: 5px;
}

#textBtn {
    margin-bottom: 0;
}

#head2 a {
    margin-top: 5px;
}

.verticalLine {
    border-style: solid;
    border-width: 0.1px;
    color: #5555552e;
    height: 25px;
    margin-top: 5px;
}

.verticalLine2 {
    border-style: solid;
    border-width: 0.2px;
    color: #5555552e;
    height: 20px;
    margin-right: 5px;
}

#navBar {
    display: flex;
    align-items: center;
    text-align: center;
    width: 80%;
}

#navBar2 {
    width: 15%;
}

.ham {
    display: flex;
    gap: 5px;
    align-items: center;
    text-align: center;
    min-width: max-content;
    flex: 1;
}

.ham:nth-child(1){
    margin-right: 0;
}

.ham p {
    margin-top: 12px;
    font-size: 12px;
    font-weight: 700;
}
.ham img {
    width: 10px;
    height: 10px;
}

.dropDown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropDown img {
    width: 10px;
    height: 10px;
}

.dropDownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    width: fit-content;
    max-height: 200px;
    overflow: scroll;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.dropDownLink {
    justify-content: flex-start;
}

.dropDownLink img {
    width: 15px;
    height: 15px;
}

.dropDownLink:hover {
    background-image: linear-gradient(rgb(206, 206, 216), rgb(255, 255, 255));
}

.dropDown:hover .dropDownContent {display: grid;}

.ham a {
    margin-top: 0px;
    font-size: 14px;
    text-decoration: none;
    color: black;
    font-weight: 200;
}

.ham a:hover {
    text-decoration: underline;
    color: red;
}

.ham a:active {
    color: rgb(163, 34, 34);
}

#navDist {
    margin: 5px;
    padding-right: 200px;
}

.slideShow {
    width: 1000;
    position: relative;
    margin: auto;
}
  
.mySlides {
    height: 200px;
    display: none;
}

.mySlides img {
    width: 100%;
    height: 150%;
}
  
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
.fade {
    animation-name: fade;
    animation-duration: 10s;
}
  
@keyframes fade {
    from {opacity: 3}
    to {opacity: 5}
}

#roundedLinks {
    width: 100%;
    padding-top: 120px;
}

.plusTxt {
    display: grid;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}

.plusTxt img {
    width: 60px;
}

.more {
    background-color: #eeecec;
    padding: 15px;
}

.owl-dots,.owl-nav {
    display: none;
}

.swiper {
    margin: auto;
    background-color: #ef4056;
    border-radius: 20px;
    max-width: 1320px;
    display: flex;
    height: 300px;
}

.special {
    width: auto;
    text-decoration: none;
    font-size: 20px;
    color: #f1f1f1;
    text-align: center;
    margin-left: 10px;
}

.special img {
    height: 70px;
    margin: auto;
    margin-bottom: 10px;
}

.card {
    margin-top: 15px;
    max-height: 300px;
    min-height: 200px;
}

.card-body {
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 2px;
}

.specialP {
    gap: 0px;
    margin: 0px;
}

.owlItemsSec {
    margin: 5px;
    display: grid;
    text-align: center;
}

.owlItems{
    text-decoration: none;
    color: #000000;
    width: auto;
}

.owlDiscount {
    border-style: solid;
    background-color: #d32f2f;
    border-radius: 20px;
    color: #fff;
    padding: 5px;
    font-size: 12px;
    height: 30px;
}

.owlPrice {
    font-size: 16px;
    width: auto;
}

.owlOmitted {
    text-decoration: line-through;
    font-size: 14px;
    font-weight: 100;
    padding-right: 20px;
    padding-bottom: 15px;
}

.carousel-item {
    cursor: -webkit-grabbing;
}
  
.carousel-item:hover img {
    transform: translatey(-1%);
}

.carousel-item img {
    width: 150px;
}

#seeAll {
    margin-top: 100px;
    text-align: center;
}

#seeAll img {
    margin: auto;
    width: 50px;
}

.ad-bar {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.adBar {
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
    text-decoration: none;
    background: url(images/freshPattern.svg) left center no-repeat;
    background-color: #ececec;
    border-radius: 10px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1300px;
    justify-content: space-between;
    padding: 10px;
}

#adImg {
    width: 60px;
}

.see-all {
    justify-content: flex-end;
    max-width: 30px;
    background-color: #ffffff;
    padding: 5px;
}

.first-half {
    display: flex;
    gap: 3px;
}

.second-half {
    display: flex;
    padding-top: 3px;
}

.roundDiscountImg img {
    width: 60px;
    height: 60px;
    margin-bottom: -20px;
}

#greenTxt {
    font-size: 24px;
    font-weight: 800;
    color: #39ae00;
}

.ad-first {
    gap: 10px;
}

#greenBigBtn img{
    width: 25px;
}

#btnTxt {
    padding: 10px;
    font-size: 14px;
    font-weight: 800;
    background-color: #39ae00;
    border-radius: 20px;
    color: #fff;
}

.roundDiscountImg {
    display: grid;
}

.roundDiscount {
    background-color: #d32f2f;
    border-radius: 20px;
    color: #fff;
    padding-right: 5px;
    font-size: 12px;
    height: 20px;
    width: 30px;
}

#greenBigBtn {
    border-radius: 20px;
    background-color: #fff;
    color: #39ae00;
    font-size: 18px;
    padding: 15px;
    margin-right: 5px;
}

.imgOverlays {
    margin-top: 20px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.imgOverlays img {
    width: 100%;
    border-radius: 20px;
}

.imgOverlays a {
    padding: 0 5px;
}

.aTitle {
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
    color: black;
}

.firstCategory {
    width: 100%;
    margin-bottom: 0px;
    display: flex;
    gap: 80px;
    margin: 1.3em;
    flex: 1;
    flex-wrap: wrap;
    width: 100%;
}
.category-item {
    display: grid;
    gap: 5px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}

#imageOverlays2 {
    width: 100%;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 15px;
    margin: 10px;
}

#imageOverlays2 img {
    width: 650px;
    border-radius: 20px;
}

#newCategory {
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    border-style: solid;
    border-width: 0.05px;
    border-color: #a19c9c;
    border-radius: 15px;
    max-width: 1300px;
    margin: auto;
}

.new-category-item { 
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    border-left-style: solid;
    border-left-width: 0.05px;
    border-left-color: #a19c9c;
}

.outline {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 0.05px;
    border-bottom-color: #a19c9c;
}

.outline img {
    margin: auto;
    max-width: 80px;
    min-width: 50px;
}


#footNav {
    display: none;
}

.footNavItem {
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    margin: 5px;
    margin-right: 35px;
}

.footNavItem img {
    width: 25px;
}

@media screen and (max-width: 768px) {
    .ham, #head2, #theLogo, .verticalLine, .verticalLine2, #btnTxt, 
    #greenBigBtn, #navBar, #navBar2 {
        display: none;
    } 
    #roundedLinks {
        padding-right: 10px;
        gap: 70px;
    }
    .adBar {
        height: 200px;
        margin: 5px;
    }
    #greenTxt {
        font-size: 18px;
    }
    #adImg {
        align-self: flex-start;
        margin: 2px;
    }
    .imgOverlays img {
        width: 100%;
    }
    .imgOverlays a {
        padding: 5px 5px;
    }
    #imageOverlays2 img {
        margin: 2px;
        width: 230px;
    }
    .newCategory {
        overflow: auto;
    }
    #footNav {
        position: sticky;
        bottom: 10px;
        width: 100%;
        background-color: #fcf8f8;
        margin: 5px;
        margin-top: 30px;
        display: flex;
        justify-content: space-evenly;
    }
    #footNavItem1{
        text-decoration: underline;
    }
    .ncg {
        outline-offset: 45.5px;
    }
    .owlPrice {
        font-size: 10px;
    }
    .owlDiscount {
        font-size: 10px;
    }
    .owlOmitted {
        font-size: 10px;
    }
    #seeAll p {
        font-size: 14px;
    }
    .special {
        font-size: 14px;
    }
    .swiper {
        height: 250px;
    }
}
@media screen and (max-width: 1400px) and (min-width: 1024px) {
    .swiper {
        height: 250px;
    }
}
@media screen and (max-width: 700px) and (min-width: 300px) {
    .swiper {
        height: 230px;
    }
}